<div class="stamp-grid-container">
  <h3 class="grid-title">🏃‍♂️ スタンプコレクション</h3>
  <div class="stamp-grid">
    <div 
      *ngFor="let row of stampGrid; let i = index" 
      class="stamp-row"
    >
      <div 
        *ngFor="let stamp of row; let j = index" 
        class="stamp-cell"
        [class.collected]="stamp?.isCollected"
        [class.empty]="!stamp"
        [title]="stamp ? stamp.description : ''"
      >
        <div *ngIf="stamp" class="stamp-content">
          <span class="stamp-emoji">{{ stamp.emoji }}</span>
          <span class="stamp-name">{{ stamp.name }}</span>
        </div>
        <div *ngIf="!stamp" class="empty-cell"></div>
      </div>
    </div>
  </div>
  <div class="progress-text">
    {{ collectedCount }} / {{ totalStamps }} 個集めました！
  </div>
</div>