<div class="stamp-grid-container">
  <h3 class="grid-title">🏃‍♂️ スタンプコレクション</h3>
  <div class="stamp-grid">
    <div 
      *ngFor="let row of stampGrid; let i = index" 
      class="stamp-row"
    >
      <div 
        *ngFor="let slot of row; let j = index" 
        class="stamp-cell"
        [class.collected]="!!slot.stamp"
        [class.empty]="!slot.stamp"
        [title]="slot.stamp ? slot.stamp.description : ''"
      >
        <div *ngIf="slot.stamp" class="stamp-content">
          <span class="stamp-emoji">{{ slot.stamp.emoji }}</span>
          <span class="stamp-name">{{ slot.stamp.name }}</span>
        </div>
        <div *ngIf="!slot.stamp" class="empty-cell"></div>
      </div>
    </div>
  </div>
  <div class="progress-text">
    {{ collectedCount }} / 25 個集めました！
  </div>
</div>